<div class="header col-md-12 clearfix" style="box-sizing:border-box;margin-top:25px;">
	<div class="thumbnail col-md-3">
		<img src="/img/borked.png" width="150" height="75" />
	</div>
	<div class="header col-md-9">
		<h2>{{title}}</h2>
		<p style="color:#aaa">By: {{author}}</p>
	</div>
</div>
<div class="description col-md-12" style="margin-top:25px;">
	<h3>Shownotes</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Language</th>
				<th>Status</th>
				<th>Controls</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<input type="hidden" name="transcription_lang" value="null" />
				<input type="hidden" name="transcription_data" value="null" />
				<button type="button" class="btn btn-primary" onclick="addShownote();">Add Shownote</button>
			</tr>
			{{#each shownotes}}
			<tr>
				<td>{{languageName language}}</td>
				<td><!-- this needs added --></td>
				<td><!-- this too. --></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
<div class="tags col-md-12" style="margin-top:25px;">
	<h3>Tags</h3>
	<ul class="list-unstyled">
		{{#tags}}
			<li style="margin-bottom:5px;" data-id="{{this.id}}">{{this.text}}</li>
		{{/tags}}
		<li class="button">
			<a data-toggle="modal" href="#addTag" onclass="showAddTagModal();"><i class="fa fa-plus"></i> Add more</a>
		</li>
	</ul>
</div>
<div class="modal fade" id="addTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add tag</h4>
			</div>
			<div class="modal-body">
				<label for="newTag">Tag</label>
			    <input type="text" class="form-control" id="newTag" placeholder="Enter tag">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="addTag({{id}}, $('#addTag .modal-body input').val());">Add</button>
			</div>
		</div>
	</div>
</div>
<div class="status col-md-12 clearfix" style="margin-top:25px;">
	<h3>Status</h3>
	<div class="col-md-6 text-center approval">
		<h4>Visibility</h4>
		<div class="button-cont">
			{{#if status.approval}}
			<p class="text-success">Approved</p>
			<button type="button" class="btn btn-danger" name="removeVideo" onclick="deleteVideo({{id}});">Remove</button>
			{{else}}
			<p class="text-warning">Awaiting approval</p>
			<button type="button" class="btn btn-success" name="approveVideo" onclick="approveVideo({{id}});">Approve</button>
			{{/if}}
		</div>
	</div>
	<div class="col-md-6 text-center">
		<h4>Title</h4>
		<p>Data</p>
	</div>
</div>
<div class="transcriptions col-md-12" style="margin-top:25px;">
	<h3>Transcriptions</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Language</th>
				<th class="col-md-5">Status</th>
				<th>Controls</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<input type="hidden" name="transcription_lang" value="null" />
				<input type="hidden" name="transcription_data" value="null" />
				<button type="button" class="btn btn-primary" onclick="addTranscription();">Add Transcription</button>
			</tr>
			{{#transcriptions}}
			<tr>
				<input type="hidden" name="transcription_lang" value="{{this.language}}" />
				<input type="hidden" name="transcription_data" value="{{this.text}}" />
				<td>{{this.language}}</td>
				{{#if this.isActive}}
				<td class="status-text"><p class="text-success">Active</p></td>
				{{else}}
				<td class="status-text"><p class="text-warning">Awaiting Approval</p></td>
				{{/if}}
				<td class="buttons">
					<button type="button" class="btn btn-default" onclick="displayTranscriptionData({{@index}});">Edit</button>
					<div class="approval" style="display:inline-block;">
						{{#if showApproval}}
						<button type="button" class="btn btn-success activate" onclick="activateTranscription({{@index}}, {{this.id}}, {{../../id}});">Approve</button>
						{{else}}
						<button type="button" class="btn btn-danger deactivate" onclick="deactivateTranscription({{@index}}, {{this.id}}, {{../../id}});">Remove</button>
						{{/if}}
					</div>
				</td>
			</tr>
			{{/transcriptions}}
		</tbody>
	</table>
	<div class="modal fade" id="editTranscription" tabindex="0" role="dialog" aria-labelledby="Edit Transcription" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Edit Transcription</h4>
				</div>
				<div class="modal-body">
					<label for="transcriptionLanguage">Language: </label>
					<input type="text" value="English" class="form-control col-md-2" style="width:50%;float:none;display:inline-block;margin-bottom:5px;" name="transcriptionLanguage"/>
					<textarea class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function approveVideo(id) {
		$.ajax({
			url: '/api/admin/episode/approve/',
			data: {id:id},
			type: 'POST',
			success:function(v) {
				var json = $.parseJSON(v)
				if (json.status === "ok") {
					$('.status .approval p.text-warning').text('Approved').addClass('text-success').removeClass('text-warning')
					$('.status .approval button[name=\'approveVideo\']').remove();
					$('.status .approval .button-cont').html('<p class="active">Approved</p><button type="button" class="btn btn-danger" name="removeVideo" onclick="deleteVideo('+id+');">Remove</button>')
				} else {
					console.log("An error has occured")
				}
			}
		})
	}
	function deleteVideo(id) {
		$.ajax({
			url: '/api/admin/episode/remove/',
			data: {id:id},
			type: 'POST',
			success:function(v) {
				var json = $.parseJSON(v)
				if (json.status === "ok") {
					$('.status .approval p.text-warning').text('Approved').addClass('text-success').removeClass('text-warning')
					$('.status .approval button[name=\'approveVideo\']').remove();
					$('.status .approval .button-cont').html('<p class="text-warning">Awaiting approval</p><button type="button" class="btn btn-success" name="approveVideo" onclick="approveVideo('+id+');">Approve</button>')
				} else {
					console.log('An error has occured')
				}
			}
		})
	}
	function addTag(id, tag) {
		$.ajax({
			url: '/api/admin/episode/tags/add',
			data: {
				id: id,
				tag: tag
			},
			type: 'POST',
			success:function(b) {
				var json = $.parseJSON(b)
				if (json.status === 'ok') {
					$("<li style='margin-bottom:5px;margin-right:4px;'>"+json.tagAdded+"</li>").insertBefore($(".tags ul li:last-child"))
					$('#addTag').modal('hide')
				} else {
					console.log('An error has occured.')
				}
			}
		})
	}
	function removeTag(id) {
		$.ajax({
			url: '/api/admin/episode/tags/remove',
			data: {
				tag: id
			},
			type: 'POST',
			success: function(j) {
				var json = $.parseJSON(j)
				if (json.status === 'ok') {
					$(".tags ul li[data-id="+id+"]").remove()
				} else {
					console.log('An error has occured')
				}
			}
		})
	}
	function updateTranscription(language) {
		$.ajax({
			url: '',
			data: {
			},
			type: 'POST',
			success:function(c) {
				var json = $.parseJSON(c)
				if (json.status === 'ok') {

				} else {

				}
			}
		})
	}
	function displayTranscriptionData(id) {
		var text, language
		if (id) {
			text = $('.transcriptions tr:eq('+(id+1)+') input[name="transcription_data"]').val()
			language = $('.transcriptions tr:eq('+(id+1)+') input[name="transcription_lang"]').val()			
		} else {
			langauge = "English"
		}
		$(".transcriptions .modal textarea").val(text)
		$(".transcriptions .modal input[name='transcriptionLanguage']").val(language)
		$(".transcriptions .modal").modal({
			show: true
		})
	}
	function activateTranscription(index, id, episode) {
		$.ajax({
			url: '/api/admin/episode/transcript/activate',
			data: {
				id: id,
				eId: episode
			},
			type: 'POST',
			success:function(c) {
				var json = $.parseJSON(c)
				if (json.status === 'ok') {
					$(".transcriptions table tbody tr:eq("+index+") .buttons .approval").html('<button type="button" class="btn btn-danger deactivate" onclick="deactivateTranscription('+index+', '+id+', '+episode+');">Remove</button>')
					$(".transcriptions table tbody tr:eq("+index+") .status-text p").text('Active').removeClass('text-warning').addClass('text-success')
				} else {

				}
			}
		})
	}
	function deactivateTranscription(index, id, episode) {
		$.ajax({
			url: '/api/admin/episode/transcript/deactivate',
			data: {
				id: id,
				eId: episode
			},
			type: 'POST',
			success:function(c) {
				var json = $.parseJSON(c)
				if (json.status === 'ok') {
					$(".transcriptions table tbody tr:eq("+index+") .buttons .approval").html('<button type="button" class="btn btn-success activate" onclick="activateTranscription('+index+', '+id+', '+episode+');">Approve</button>')
					$(".transcriptions table tbody tr:eq("+index+") .status-text p").text('Awaiting Approval').removeClass('text-success').addClass('text-warning')
				} else {

				}
			}
		})
	}
	function addTranscription() {
		displayTranscriptionData()

	}
	function addShownote() {

	}
	$(".tags .list-unstyled li").hover(function() {
		if (!$(this).hasClass("button")) {
			$(this).data('text', $(this).text()).addClass('btn-remove').html('<i class="fa fa-times"></i> Close').addClass('text-danger')
		}
	}, function() {
		if (!$(this).hasClass("button")) {
			$(this).text($(this).data('text')).removeClass('text-danger').removeClass('btn-remove')
		}		
	})
	$(".tags .list-unstyled li").click(function(li) {
		if ($(this).hasClass('btn-remove')) {
			var id = $(this).data('id')
			removeTag(id)
		}
	})
</script>
