<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
<script> moment().format(); </script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.dropdown-menu.user-role li a').on('click', function() {
			var id = $(this).closest('tr').attr('data-id')
			var newRole = $(this).attr('data-role')
			var prettyRole = $(this).find('span').text()
			$.ajax({
				url: '/api/admin/user/role',
				type: 'POST',
				data: {
					id: id,
					role: newRole
				},
				success: function(data) {
					var json = $.parseJSON(data)
					if (json.status == 'ok') {
						$('.users table tr[data-id='+id+'] .active-role').attr('data-role', newRole)
						$('.users table tr[data-id='+id+'] .active-role span').text(prettyRole)
					} else {
						console.log('There was a fucking error')
					}
				}
			})
		})
		$('.btn.account-closed').on('click', function() {
			var id = $(this).closest('tr').attr('data-id')
			var action = $(this).attr('data-action')
			var status = $(this).closest('tr').find('.status')
			var button = $(this)
			$.ajax({
				url: '/api/admin/user/'+action,
				type: 'POST',
				data: {id: id},
				success:function(data) {
					var json = $.parseJSON(data)
					if (json.status == 'ok') {
						var accountClosed = (action == 'deactivate')
						status.text(accountClosed ? 'Inactive' : 'Active')
						if (accountClosed) {
							status.addClass("error")
						} else {
							status.removeClass("error")
						}
						if (accountClosed) {
							button.removeClass('btn-danger').addClass('btn-success')
						} else {
							button.removeClass('btn-success').addClass('btn-danger')
						}
						button.attr('data-action', accountClosed ? 'activate' : 'deactivate').text(accountClosed ? 'Reactivate' : 'Close Account')
					} else {
						console.log("There was a fucking error")
					}
				}
			})
		})
	})
</script>
<section class="users" style="box-sizing:border-box;margin-top:25px;">
	<table class="table table-striped">
		<thead>
			<tr>
				<td>#</td>
				<td>Twitter Handle</td>
				<td>Created</td>
				<td>Status</td>
				<td>Options</td>
			</tr>
		</thead>
		<tbody>
		{{#each users}}
			<tr data-id="{{this.id}}">
				<td class="id">{{this.id}}</td>
				<td class="twitter"><a href="http://twitter.com/{{this.twitter_username}}">@{{this.twitter_username}}</a></td>
				<td><script type="text/javascript">document.write(moment('{{this.createdAt}}').fromNow())</script></td>
				{{#if this.active}}
					<td class="status">Active</td>
				{{else}}
					<td class="status">Inactive</td>
				{{/if}}
				<td class="buttons col-md-5">
					<div class="btn-group level">
						<a class="btn btn-primary active-role" href="javascript:void(0)" data-role="{{this.role}}"><i class="fa fa-user"></i> <span>{{userRoleToString this.role}}</span></a>
						<a class="btn btn-primary dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu user-role">
							<li><a href="javascript:void(0)" data-role="viewer"><i class="fa fa-pencil"></i> <span>Viewer</span></a></li>
							<li><a href="javascript:void(0)" data-role="moderator"><i class="fa fa-trash-o"></i> <span>Moderator</span></a></li>
							<li><a href="javascript:void(0)" data-role="screencaster"><i class="fa fa-pencil"></i> <span>Screencaster</span></a></li>
							<li><a href="javascript:void(0)" data-role="admin"><i class="fa fa-ban"></i> <span>Admin</span></a></li>
						</ul>
					</div>
					{{#if this.active}}
						<button type="button" class="btn btn-danger account-closed" data-action="deactivate">Close Account</button>
					{{else}}
						<button type="button" class="btn btn-success account-closed" data-action="activate">Reactivate</button>
					{{/if}}
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</section>
<style type="text/css">
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
.active {
	color:#34b611;
}
.error {
	color:#db0b0b;
}
.warning {
	color:#debb1a;
}
.tags ul li {
	display:inline-block;
	background-color:#eee;
	padding:5px 10px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}
</style>