<div class="btn-group sub-view" style="display:inline-block;">
	<a class="btn btn-primary" href="/admin/episodes"><i class="fa fa-caret-square-o-right"></i> Episodes</a>
	<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="/admin/episodes"><i class="fa fa-caret-square-o-right"></i> Episodes</a></li>
		<li><a href="/admin/users"><i class="fa fa-user"></i> Users</a></li>
	  </ul>
</div>
<div class="btn-group sub-view" style="display:inline-block;">
	<a class="btn btn-primary" href="/admin/episodes/pending"><i class="fa fa-user"></i> Pending</a>
	<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="/admin/episodes"><i class="fa fa-pencil"></i> Approved</a></li>
		<li><a href="/admin/episodes/pending"><i class="fa fa-trash-o"></i> Pending</a></li>
	  </ul>
</div>
<div class="header col-md-12 clearfix" style="box-sizing:border-box;margin-top:25px;">
	<div class="thumbnail col-md-3">
		<img src="http://cdn.panasonic.com/images/imageNotFound400.jpg" width="150" height="75" />
	</div>	
	<div class="header col-md-9">
		<h2>{{title}}</h2>
		<p style="color:#aaa">By: {{author}}</p>
	</div>
</div>
<div class="description col-md-12" style="margin-top:25px;">
	<h3>Description</h3>
	<p>{{shownotes}}</p>
</div>
<div class="tags col-md-12" style="margin-top:25px;">
	<h3>Tags</h3>
	<ul style="list-style-type:none;">
		{{#tags}}
			<li>{{this}}</li>
		{{/tags}}
		<li>
			<a href="#" class=""><i class="fa fa-plus"></i>Add more</a>
		</li>
	</ul>
</div>
<div class="status col-md-12 clearfix" style="margin-top:25px;">
	<h3>Status</h3>
	<div class="col-md-6 text-center approval">
		<h4>Visibility</h4>
		{{#if status.approval}}
		<p class="active">Approval</p>
		<button type="button" class="btn btn-error" name="removeVideo">Remove</button>
		{{else}}
		<p class="warning">Awaiting approval</p>
		<button type="button" class="btn btn-success" name="approveVideo">Approve</button>
		{{/if}}
	</div>
	<div class="col-md-6 text-center">
		<h4>Title</h4>
		<p>Data</p>
	</div>
</div>
<div class="transcriptions col-md-12" style="margin-top:25px;">
	<h3>Transcriptions</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Language</td>
				<td class="col-md-5">Status</td>
				<td class="col-md-3">Controls</td>
			</tr>
		</thead>
		<tbody>
			{{#transcriptions}}
			<tr>
				<td>{{this.language}}</td>
				<td><p class="active">{{this.status}}</p></td>
				<td>
					<button type="button" class="btn btn-default">Edit</button>
					{{#if showApproval}}
					<button type="button" class="btn btn-success">Approve</button>					
					{{/if}}
				</td>
			</tr>
			{{/transcriptions}}
		</tbody>
	</table>
</div>
<style type="text/css">
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
.active {
	color:#34b611;
}
.error {
	color:#db0b0b;
}
.warning {
	color:#debb1a;
}
.tags ul li {
	display:inline-block;
	background-color:#eee;
	padding:5px 10px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$('.status .approval button[name=\'approveVideo\']').on('click', function() {
			$.ajax({
				url: '/api/admin/episode/approve/',
				data: {id:'1'},
				type: 'POST',
				success:function(v) {
					var json = $.parseJSON(v)
					if (json.status === "ok") {
						$('.status .approval p.warning').text('Approved').addClass('active').removeClass('warning')
						$('.status .approval button[name=\'approveVideo\']').remove();
					} else {
						console.log("An error has occured")
					}
				}
			})
		})
	})
</script>
