<h1>{{user.name}}</h1>

<form method="post" id="user-form">
	<table class="table">
	  <tr>
	    <th>Role</th>
	    <td>{{userRoleToString user.role}}</td>
	  </tr>
	  <tr>
	    <th>Language</th>
	     
      <td>
        <select name="language" id="language" class="form-control">
          {{#each languages}}
            <option value="{{code}}" {{#if selected}}selected{{/if}}>{{nativeName}}</option>
          {{/each}}
        </select>
      </td>
	  </tr>
	</table>

  <!-- todo: fix this terrible insecurity -->
  <input type="hidden" name="id" value="{{user.id}}">

  <input type="submit" class="btn btn-primary" value="Update">
</form>

<script src="http://malsup.github.com/jquery.form.js"></script> 
<script>
	$("#user-form").ajaxForm()
</script>